@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Applicativi</h1>
    <a href="/Classi/Visualizza" class="btn btn-primary">Archivio Alievi</a>
</div>
